HTML {
  background-color: #1d3c66;
  background-image: url("https://freight.cargo.site/w/885/i/3188f12e08a3c9b733a6e176967631e87189869d109fc8a1c85219203a39398d/Screen-Shot-2020-02-07-at-11.16.50-AM.png");
  background-size: cover;
 
}
.watchrList {
  display:grid;
  color: hsl(71, 63%, 88%);
  grid-template-columns: 20fr 20fr 20fr;
  text-align: left;
}
.Form{
  justify-content: center;
  background-image: url("https://i.stack.imgur.com/l5i79.jpg?s=256&g=1");
  background-size:contain;  
  margin-left: 3%;
  margin-right: -3%;
  margin-top: 3%;
  border: black 3px solid;
}

.cards{
  border:black 2px solid;
  background-color: rgb(29, 60, 102);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

header {
  background-color:crimson;
  display: flex;
  flex-direction:column-reverse;
  /* justify-content: space-around;
  align-items: center; */
  height: 3em;
}

a {
  color:gold;
  float: right;
  padding-right: 5%;
}

.grid-main {
text-align: left;
display: grid;
grid-auto-columns: 3 fr 4fr;
height: 100%;
/* background-color: #1d3c66; */
}

.grid-list{
  grid-column: 2;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;

}

.grid-form{
  grid-column: 1;
  text-align:left;
  justify-content: center;
  /* margin-top: 4%; */
  /* margin-left: 2%; */
  /* margin: auto */
}

.link {
 display: flex;
 width: 75%;
 justify-content: space-evenly;
 float: right;
}
.watchedbttn {
  background-color: red;
}

.editbttn {
  background-color: yellow;
  width: 86px
}

.buttondiv {
  display: flex;
  justify-content: space-between;
}

.aboutContainer {
  background-color: rgb(29, 60, 102);
  color:antiquewhite;
  justify-content: center;
  width: 100%;
  display:block;
  margin: auto
}



.updateContainer {
  background-image: url("https://i.stack.imgur.com/l5i79.jpg?s=256&g=1");
  background-size:contain;  
  color:antiquewhite;
  display: grid;
  margin: auto;
  justify-content: center;
  width: 50vh;
}