.App {
  text-align: center;
}
.dataList {
  display: flex;
  flex-direction: column-reverse;
}

header {
  background-color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}